<div class="container-fluid div1">
    <div class="row">
        <div class="col-sm">
            <img src="{{ app.request.getSchemeAndHttpHost() }}/images/teds.png" class="img-fluid" alt="teds" style="padding: 10px">
        </div>
        <div class="col-sm headr">
            <header class="header1">
                <a href="{{ path('home') }}" style="color: rgb(240, 15, 15); text-decoration: none;">Teds Dashboard</a>
            </header>
            <br>
        </div>
        <div class="col-sm headr2">
        </div>
    </div>
</div>
<!--This is the NAV-->
<div class="div2 menu">
    <nav class="nav1">
        <ul class="nav nav-tabs nav-justified ">
            <li class="nav-item" id="toplink">
                <a class="nav-link logout a1" href="{{ path('client_index') }}">Client</a>
            </li>
            <li class="nav-item" id="toplink">
                <a class="nav-link logout a1" href="{{ path('server_index') }}">Serveur</a>
            </li>
            <li class="nav-item" id="toplink">
                <a class="nav-link logout a1" href="{{ path('site_index') }}">Site</a>
            </li>
            <li class="nav-item" id="toplink">
                <a class="nav-link logout a1" href="{{ path('domain_name_index') }}">Nom de Domaine</a>
            </li>
            <li class="nav-item" id="toplink">
                <a class="nav-link logout a1" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        </ul>
    </nav>
</div>
