{% extends 'base.html.twig' %}

{% set sort = orderBy is not defined or orderBy is same as ('ASC') ? 'ASC' : 'DESC' %}

{% block title %}Nom de domaine liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt">Noms de domaines</h1>
        </div>
    </div>

    <div class="container-fluid pt-4">
        <div class="row ps-5">
            <div class="col-11 offset-1 pt-3 ps-5">
                <a href="{{ path('domain_name_new') }}" class="btn parme float-end">Ajouter un nom de domaine</a>
                {% if domainNames|length %}
                    {% include 'domain_name/details.html.twig' %}
                {% else %}
                    <p>Aucun nom de domaine</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
