{% extends 'base.html.twig' %}

{% set sort = orderBy is not defined or orderBy is same as ('ASC') ? 'ASC' : 'DESC' %}

{% block title %}Nom de domaine liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var searchItems = [];
        $(document).ready(() => {
            $("#search-form").on("submit", (e) => {
                e.preventDefault();
                search();
            });
        });

        function search() {
            if (1 === searchItems.length) {
                window.location.href = '/domain-name/' + searchItems[0];
            } else {
                window.location.href = '{{ path("domain_name_search") }}' + '?ids=' + searchItems.join();
            }
        }
        function searchSame() {
            searchItems = [];
            {% for domain_name in domainNames %}
                var domainNameUrl = "{{ domain_name.url }}"
                if (!domainNameUrl.toLowerCase().includes($('#search').val().toLowerCase())) {
                    $('#domain-name-{{ domain_name.id }}').addClass("d-none");
                } else {
                    $('#domain-name-{{ domain_name.id }}').removeClass("d-none");
                    searchItems.push({{ domain_name.id }});
                }
            {% endfor %}
        }
    </script>
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt">Noms de domaines</h1>
        </div>
        <div class="col-sm search-div">
            <form id="search-form" action="">
                <input id="search"  class="form-control mr-sm-2 search-bar" type="search" placeholder="Rechercher" aria-label="Search" onkeyup="searchSame()">
                <button class="btn parme my-2 my-sm-0" style="margin-bottom: 0.5rem!important;">Rechercher</button>
            </form>
        </div>
    </div>

    <div class="container-fluid pt-4">
        <div class="row ps-5">
            <div class="col-11 offset-1 pt-3 ps-5">
                <a href="{{ path('domain_name_new') }}" class="btn parme float-end">Ajouter un nom de domaine</a>
                {% if domainNames|length %}
                    {% include 'domain_name/details.html.twig' %}
                {% else %}
                    <p>Aucun nom de domaine</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
