{% extends 'base.html.twig' %}

{% set sort = orderBy is not defined or orderBy is same as ('ASC') ? 'ASC' : 'DESC' %}

{% block title %}Nom de domaine liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var searchItems = [];
        $(document).ready(() => {
            $("#search-form").on("submit", (e) => {
                e.preventDefault();
                search();
            });
        });

        function search() {
            if (1 === searchItems.length) {
                window.location.href = '/domain-name/' + searchItems[0];
            } else {
                window.location.href = '{{ path("domain_name_search") }}' + '?ids=' + searchItems.join();
            }
        }
        function searchSame() {
            searchItems = [];
            {% for domain_name in domain_names %}
                var domainNameUrl = "{{ domain_name.url }}"
                if (!domainNameUrl.includes($('#search').val())) {
                    $('#domain-name-{{ domain_name.id }}').addClass("d-none");
                } else {
                    $('#domain-name-{{ domain_name.id }}').removeClass("d-none");
                    searchItems.push({{ domain_name.id }});
                }
            {% endfor %}
        }
    </script>
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt" style="display: inline-block">Noms de domaines :</h1>
        </div>
        <div class="col-sm search-div">
            <form id="search-form" action="">
                <input id="search"  class="form-control mr-sm-2 search-bar" type="search" placeholder="Rechercher" aria-label="Search" onkeyup="searchSame()">
                <button class="btn parme my-2 my-sm-0" style="margin-bottom: 0.5rem!important;">Rechercher</button>
            </form>
        </div>
    </div>

    <div class="grid container-fluid div3">
        <div class="div4 div-list bg-white">
            <p class="text-danger">{{ error is defined and error is not null ? error }}</p>
            <h1 class="c-blue bd-bt">Liste : </h1>
            {% if currentDomainName is defined and currentDomainName is not null %}
                <table class="table table-index">
                    <thead>
                        <tr>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'url', 'orderBy' : app.request.get('orderedType') is same as ('url') ? sort, 'id' : currentDomainName.id }) }}">Url <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('url')) ? 'down' : 'up' }}"></i></a></th>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'provider', 'orderBy' : app.request.get('orderedType') is same as ('provider') ? sort, 'id' : currentDomainName.id }) }}">Prestataire <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('provider')) ? 'down' : 'up' }}"></i></a></th>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'offer', 'orderBy' : app.request.get('orderedType') is same as ('offer') ? sort, 'id' : currentDomainName.id }) }}">Offre <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('offer')) ? 'down' : 'up' }}"></i></a></th>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'cost', 'orderBy' : app.request.get('orderedType') is same as ('cost') ? sort, 'id' : currentDomainName.id }) }}">Coût <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('cost')) ? 'down' : 'up' }}"></i></a></th>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'invoicedPrice', 'orderBy' : app.request.get('orderedType') is same as ('invoicedPrice') ? sort, 'id' : currentDomainName.id }) }}">Prix facturé <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('invoicedPrice')) ? 'down' : 'up' }}"></i></a></th>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'renewalType', 'orderBy' : app.request.get('orderedType') is same as ('renewalType') ? sort, 'id' : currentDomainName.id }) }}">Type de renouvellement <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('renewalType')) ? 'down' : 'up' }}"></i></a></th>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'startDate', 'orderBy' : app.request.get('orderedType') is same as ('startDate') ? sort, 'id' : currentDomainName.id }) }}">Date de début <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('startDate')) ? 'down' : 'up' }}"></i></a></th>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'renewalDate', 'orderBy' : app.request.get('orderedType') is same as ('renewalDate') ? sort, 'id' : currentDomainName.id }) }}">Date de renouvellement <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('renewalDate')) ? 'down' : 'up' }}"></i></a></th>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'site', 'orderBy' : app.request.get('orderedType') is same as ('site') ? sort, 'id' : currentDomainName.id }) }}">Site <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('site')) ? 'down' : 'up' }}"></i></a></th>
                            <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'enable', 'orderBy' : app.request.get('orderedType') is same as ('enable') ? sort, 'id' : currentDomainName.id }) }}">Actif <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('enable')) ? 'down' : 'up' }}"></i></a></th>
                            <th>Voir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for domain_name in domain_names %}
                            <tr style="vertical-align: middle;" id="domain-name-{{ domain_name.id }}">
                                <td>{{ domain_name.url }}</td>
                                <td>{{ domain_name.provider }}</td>
                                <td>{{ domain_name.offer }}</td>
                                <td>{{ domain_name.cost }}</td>
                                <td>{{ domain_name.invoicedPrice }}</td>
                                <td>{{ domain_name.renewalType }}</td>
                                <td>{{ domain_name.startDate ? domain_name.startDate|date('Y-m-d') : '' }}</td>
                                <td>{{ domain_name.renewalDate ? domain_name.renewalDate|date('Y-m-d') : '' }}</td>
                                <td>{{ domain_name.site is defined and domain_name.site is not null ? domain_name.site.name : '-' }}</td>
                                <td>{{ domain_name.enable ? 'Oui' : 'Non' }}</td>
                                <td>
                                    <a href="{{ path('domain_name_show', {'id': domain_name.id}) }}" class="btn btn-secondary">Détails</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Aucun nom de domaines</p>
            {% endif %}
        </div>

        <div class="div-details bg-white">
            {% if currentDomainName is defined and currentDomainName is not null %}
                {% include 'domain_name/details.html.twig' %}
            {% else %}
                <h1 class="c-parme bd-bt">Détails </h1>
            {% endif %}
        </div>
        <div class="div-action bg-white" style="text-align: center">
            <h1 class="c-yellow bd-bt">Actions : </h1>
            <a href="{{ path('domain_name_new') }}" class="btn parme" style="margin: 7%">Ajouter</a>
            {% if currentDomainName is defined and currentDomainName is not null %}
                <a href="{{ path('domain_name_edit', {'id': currentDomainName.id}) }}" class="btn blue" style="margin: 5%">Éditer: {{ currentDomainName.url }}</a>
            {% endif %}
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
