{% extends 'base.html.twig' %}

{% set orderedType = app.request.get('orderedType') %}

{% block title %}Serveur liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function searchSite() {
            var url = '{{ path("server_search") }}';
            window.location.href = url + '?searchName=' + $('#search').val();
        }
    </script>
{% endblock %}

{% block body %}

    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid div3">
        <div class="div4">

            <h1 style="display: inline-block">Liste des serveurs</h1>
            <div style="float: right">
                <input id="search" class="form-control mr-sm-2 search-bar" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchSite()" >Rechercher</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th><a class="a-ordered" href="{{ path('server_ordered', {'orderedType' : 'name', 'orderBy' : sort(orderedType, 'name', orderBy ?? null) }) }}">Nom <i class="fa fa-arrow-{{ (direction(orderedType, 'name', orderBy ?? null))}}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('server_ordered', {'orderedType' : 'provider', 'orderBy' : sort(orderedType, 'provider', orderBy ?? null) }) }}">Prestataire <i class="fa fa-arrow-{{ (direction(orderedType, 'provider', orderBy ?? null))}}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('server_ordered', {'orderedType' : 'offer', 'orderBy' : sort(orderedType, 'offer', orderBy ?? null) }) }}">Offre <i class="fa fa-arrow-{{ (direction(orderedType, 'offer', orderBy ?? null))}}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('server_ordered', {'orderedType' : 'price', 'orderBy' : sort(orderedType, 'price', orderBy ?? null) }) }}">Prix (€) <i class="fa fa-arrow-{{ (direction(orderedType, 'price', orderBy ?? null))}}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('server_ordered', {'orderedType' : 'invoicedPrice', 'orderBy' : sort(orderedType, 'invoicedPrice', orderBy ?? null) }) }}">Prix payé (€) <i class="fa fa-arrow-{{ (direction(orderedType, 'invoicedPrice', orderBy ?? null))}}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('server_ordered', {'orderedType' : 'renewalType', 'orderBy' : sort(orderedType, 'renewalType', orderBy ?? null) }) }}">Type de renouvellement <i class="fa fa-arrow-{{ (direction(orderedType, 'renewalType', orderBy ?? null))}}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('server_ordered', {'orderedType' : 'renewalDate', 'orderBy' : sort(orderedType, 'renewalDate', orderBy ?? null) }) }}">Date de renouvellement <i class="fa fa-arrow-{{ (direction(orderedType, 'renewalDate', orderBy ?? null))}}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('server_ordered', {'orderedType' : 'enable', 'orderBy' : sort(orderedType, 'enable', orderBy ?? null) }) }}">Actif <i class="fa fa-arrow-{{ (direction(orderedType, 'enable', orderBy ?? null))}}"></i></a></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for server in servers %}
                    <tr style="vertical-align: middle;">
                        <td>{{ server.name }}</td>
                        <td>{{ server.provider }}</td>
                        <td>{{ server.offer }}</td>
                        <td>{{ server.price }}</td>
                        <td>{{ server.invoicedPrice }}</td>
                        <td>{{ server.renewalType }}</td>
                        <td>{{ server.renewalDate ? server.renewalDate|date('d-m-Y') : '' }}</td>
                        <td>{{ server.enable ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('server_show', {'id': server.id}) }}" class="btn btn-secondary" style="margin-bottom: 5px">Détails</a>
                            <a href="{{ path('server_edit', {'id': server.id}) }}" class="btn btn-success">Éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun serveur</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('server_new') }}" class="btn btn-primary">Ajouter</a>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}
