{% extends 'base.html.twig' %}

{% block title %}Site liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block bandeau %}
        {{ parent() }}
    {% endblock %}

    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt" style="display: inline-block">Résultats de votre recherche :</h1>
        </div>
    </div>
    <div class="container-fluid div3 grid">
        <div class="div-annexe div4">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prestataire</th>
                    <th>Offre</th>
                    <th>Prix</th>
                    <th>Prix payé</th>
                    <th>Type de renouvellement</th>
                    <th>Date de renouvellement</th>
                    <th>Actif</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for server in servers %}
                    <tr style="vertical-align: middle;">
                        <td>{{ server.name }}</td>
                        <td>{{ server.provider }}</td>
                        <td>{{ server.offer }}</td>
                        <td>{{ server.price }}</td>
                        <td>{{ server.invoicedPrice }}</td>
                        <td>{{ server.renewalType }}</td>
                        <td>{{ server.renewalDate ? server.renewalDate|date('d-m-Y') : '' }}</td>
                        <td>{{ server.enable ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('server_show', {'id': server.id}) }}" class="btn btn-secondary">Détails</a>
                            <a href="{{ path('server_edit', {'id': server.id}) }}" class="btn blue">Éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun serveur</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('server_index') }}" class="btn yellow">< Retour liste</a>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
