<h1 class="c-parme bd-bt">Détails de {{ currentSite.name }} : </h1>
<a href="{{ path('site_edit', {'id': currentSite.id}) }}" class="btn blue">
    Éditer <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a>
<table class="table">
    <tbody>
    <tr>
        <th>Date de mise en ligne</th>
        <td>{{ currentSite.onlineDate ? currentSite.onlineDate|date('d-m-Y') : '' }}</td>
    </tr>
    <tr>
        <th>En ligne</th>
        <td>{{ currentSite.online ? 'Oui' : 'Non' }}</td>
    </tr>
    <tr>
        <th>Actif</th>
        <td>{{ currentSite.enable ? 'Oui' : 'Non' }}</td>
    </tr>
    <tr>
        <th>Serveurs</th>
        <td>
            {% for server in currentSite.servers %}
                - {{ server.name }}
                <a href="{{ path('server_show', {'id': server.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"><i class="fa fa-external-link" aria-hidden="true"></i></a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Noms de domaine :</th>
        <td>
            {% if domaineNames is defined and domainNames is not null %}
                {% for domainName in domainNames|filter(domainName => domainName.site is same as (currentSite)) %}
                    {% if domainName is defined and domainName is not null %}
                        - {{ domainName.url }}
                        <a href="{{ path('domain_name_show', {'id': domainName.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Click & Collects :</th>
        <td>
            {% if clickAndCollects is defined and clickAndCollects is not null %}
                {% for clickAndCollect in clickAndCollects|filter(clickAndCollect => clickAndCollect.site is same as (currentSite)) %}
                    {% if clickAndCollect is defined and clickAndCollect is not null %}
                        - {{ clickAndCollect.id }}
                        <a href="{{ path('click_and_collect_show', {'id': clickAndCollect.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>
