{% extends 'base.html.twig' %}

{% block title %}SocialNetwork liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var searchItems = [];
        $(document).ready(() => {
            $("#search-form").on("submit", (e) => {
                e.preventDefault();
                search();
            });
        });

        function search() {
            if (1 === searchItems.length) {
                window.location.href = '/social/network/' + searchItems[0];
            } else {
                window.location.href = '{{ path("social_network_search") }}' + '?ids=' + searchItems.join();
            }
        }
        function searchSame() {
            searchItems = [];
            {% for social_network in socialNetworks %}
                var socialNetworkClientName = "{{ social_network.client.name }}"
                if (!socialNetworkClientName.toLowerCase().includes($('#search').val().toLowerCase())) {
                    $('#social-network-{{ social_network.id }}').addClass("d-none");
                } else {
                    $('#social-network-{{ social_network.id }}').removeClass("d-none");
                    searchItems.push({{ social_network.id }});
                }
            {% endfor %}
        }
    </script>
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt">Réseaux sociaux</h1>
        </div>
        <div class="col-sm search-div">
            <form id="search-form" action="">
                <input id="search" class="form-control mr-sm-2 search-bar" type="search" placeholder="Rechercher" aria-label="Search" onkeyup="searchSame()">
                <button class="btn parme my-2 my-sm-0" style="margin-bottom: 0.5rem!important;">Rechercher</button>
            </form>
        </div>
    </div>

    <div class="container-fluid pt-4">
        <div class="row ps-5">
            <div class="col-11 offset-1 pt-3 ps-5">
                <a href="{{ path('social_network_new') }}" class="btn parme float-end">Ajouter un réseau social</a>
                {% if socialNetworks|length %}
                    {% set currentClient = socialNetworks[0].client %}
                    {% include 'social_network/details.html.twig' %}
                {% else %}
                    <p>Aucun réseau social</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
