{% extends 'base.html.twig' %}

{% block title %}Click'N Collect liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block bandeau %}
        {{ parent() }}
    {% endblock %}

    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt" style="display: inline-block">Résultats de votre recherche :</h1>
        </div>
    </div>
    <div class="container-fluid div3 grid">
        <div class="div-annexe div4">
            <table class="table">
                <thead>
                <tr>
                    <th>Client</th>
                    <th>Post par semaine</th>
                    <th>Quel Réseaux ?</th>
                    <th>Prestataire</th>
                    <th>Offre</th>
                    <th>Coût</th>
                    <th>Prix Facturé</th>
                    <th>Type de renouvellement</th>
                    <th>Date de début</th>
                    <th>Date de renouvellement</th>
                    <th>Commentaire</th>
                    <th>Actif</th>
                    <th>Voir</th>
                </tr>
                </thead>
                <tbody>
                {% for social_network in social_networks %}
                    <tr>
                        <td>{{ social_network.client.name }}</td>
                        <td>{{ social_network.postByWeek }}</td>
                        <td>{{ social_network.whichSocialNetwork ? social_network.whichSocialNetwork|join(', ') : '' }}</td>
                        <td>{{ social_network.provider }}</td>
                        <td>{{ social_network.offer }}</td>
                        <td>{{ social_network.cost }}</td>
                        <td>{{ social_network.invoicedPrice }}</td>
                        <td>{{ social_network.renewalType }}</td>
                        <td>{{ social_network.startDate ? social_network.startDate|date('Y-m-d') : '' }}</td>
                        <td>{{ social_network.renewalDate ? social_network.renewalDate|date('Y-m-d') : '' }}</td>
                        <td>{{ social_network.commentary }}</td>
                        <td>{{ social_network.enable ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('social_network_show', {'id': social_network.id}) }}" class="btn btn-secondary">Détails</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun Click'N Collect</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('click_and_collect_index') }}" class="btn yellow">< Retour liste</a>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
