<h1 class="c-parme bd-bt">Détails de {{ currentSite.name }} : </h1>
<table class="table">
    <tbody>
    <tr>
        <th>Date de mise en ligne</th>
        <td>{{ currentSite.onlineDate ? currentSite.onlineDate|date('d-m-Y') : '' }}</td>
    </tr>
    <tr>
        <th>En ligne</th>
        <td>{{ currentSite.online ? 'Oui' : 'Non' }}</td>
    </tr>
    <tr>
        <th>Actif</th>
        <td>{{ currentSite.enable ? 'Oui' : 'Non' }}</td>
    </tr>
    <tr>
        <th>Serveurs</th>
        <td>
            {% for server in currentSite.servers %}
                - {{ server.name }}
                <a href="{{ path('server_show', {'id': server.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"><i class="fa fa-external-link" aria-hidden="true"></i></a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Noms de domaine :</th>
        <td>
            {% for domainName in domainNames %}
                {% if domainName is defined and domainName is not null %}
                    - {{ domainName.url }}
                    <a href="{{ path('domain_name_show', {'id': domainName.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"> <i class="fa fa-external-link" aria-hidden="true"></i> </a>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Click & Collects :</th>
        <td>
            {% for clickAndCollect in clickAndCollects %}
                {% if clickAndCollect is defined and clickAndCollect is not null %}
                    - {{ clickAndCollect.id }}
                    <a href="{{ path('click_and_collect_show', {'id': clickAndCollect.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>
