{% extends 'base.html.twig' %}

{% block title %}Site liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid div3">
        <div class="div4">

            <h1>Liste des sites : </h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Nom du site</th>
                        <th>Date de mis en ligne</th>
                        <th>En ligne</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{ site.name }}</td>
                        <td>{{ site.onlineDate ? site.onlineDate|date('d-m-Y') : '' }}</td>
                        <td>{{ site.online ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('site_show', {'id': site.id}) }}" class="btn btn-secondary">Détails</a>
                            <a href="{{ path('site_edit', {'id': site.id}) }}" class="btn btn-success">Éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun site trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('site_new') }}" class="btn btn-primary">Ajouter</a>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
