<h1 class="c-parme bd-bt">Détails de {{ currentDomainName.url }} </h1>

<table class="table">
    <tbody>
    <tr>
        <th>Prestataire</th>
        <td>{{ currentDomainName.provider }}</td>
    </tr>
    <tr>
        <th>Offre</th>
        <td>{{ currentDomainName.offer }}</td>
    </tr>
    <tr>
        <th>Prix</th>
        <td>{{ currentDomainName.price }}</td>
    </tr>
    <tr>
        <th>Prix payé</th>
        <td>{{ currentDomainName.invoicedPrice }}</td>
    </tr>
    <tr>
        <th>Type de renouvellement</th>
        <td>{{ currentDomainName.renewalType }}</td>
    </tr>
    <tr>
        <th>Date de renouvellement</th>
        <td>{{ currentDomainName.renewalDate ? currentDomainName.renewalDate|date('d-m-Y') : '' }}</td>
    </tr>
    <tr>
        <th>Site</th>
        {% if currentDomainName.site is defined and currentDomainName.site is not null %}
            <td>
                - {{ currentDomainName.site.name }}
                <a href="{{ path('site_show', {'id': currentDomainName.site.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"> <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </td>
        {% endif %}
    </tr>
    <tr>
        <th>Actif</th>
        <td>{{ currentDomainName.enable ? 'Oui' : 'Non' }}</td>
    </tr>
    </tbody>
</table>
