{% extends 'base.html.twig' %}

{% block title %}Nom de domaine liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid div3">
        <div class="div4">
            <h1>Liste nom de domaine : </h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Url</th>
                        <th>Prestataire</th>
                        <th>Offre</th>
                        <th>Prix</th>
                        <th>Prix payé</th>
                        <th>Type de renouvellement</th>
                        <th>Date de renouvellement</th>
                        <th>Site</th>
                        <th>Actif</th>
                        <th>actions</th>

                    </tr>
                </thead>
                <tbody>
                {% for domain_name in domain_names %}
                    <tr style="vertical-align: middle;">
                        <td>{{ domain_name.url }}</td>
                        <td>{{ domain_name.provider }}</td>
                        <td>{{ domain_name.offer }}</td>
                        <td>{{ domain_name.price }}</td>
                        <td>{{ domain_name.invoicedPrice }}</td>
                        <td>{{ domain_name.renewalType }}</td>
                        <td>{{ domain_name.renawalDate ? domain_name.renawalDate|date('Y-m-d') : '' }}</td>
                        <td>{{ domain_name.site.name }}</td>
                        <td>{{ domain_name.enable ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('domain_name_show', {'id': domain_name.id}) }}" class="btn btn-secondary" style="margin-bottom: 5px">Détails</a>
                            <a href="{{ path('domain_name_edit', {'id': domain_name.id}) }}" class="btn btn-success">Éditer</a>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun Nom de domaine</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('domain_name_new') }}" class="btn btn-primary">Ajouter un nouveau</a>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
