{% extends 'base.html.twig' %}

{% set sort = orderBy is not defined or orderBy is same as ('ASC') ? 'ASC' : 'DESC' %}

{% block title %}Nom de domaine liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function searchSite() {
            var url = '{{ path("domain_name_search") }}';
            window.location.href = url + '?searchUrl=' + $('#search').val();
        }
    </script>
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid div3">
        <div class="div4">
            <h1 style="display: inline-block">Liste nom de domaine : </h1>
            <div style="float: right">
                <input id="search" class="form-control mr-sm-2 search-bar" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchSite()" >Rechercher</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'url', 'orderBy' : app.request.get('orderedType') is same as ('url') ? sort }) }}">Url <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('url')) ? 'down' : 'up' }}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'provider', 'orderBy' : app.request.get('orderedType') is same as ('provider') ? sort }) }}">Prestataire <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('provider')) ? 'down' : 'up' }}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'offer', 'orderBy' : app.request.get('orderedType') is same as ('offer') ? sort }) }}">Offre <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('offer')) ? 'down' : 'up' }}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'price', 'orderBy' : app.request.get('orderedType') is same as ('price') ? sort }) }}">Prix <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('price')) ? 'down' : 'up' }}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'invoicedPrice', 'orderBy' : app.request.get('orderedType') is same as ('invoicedPrice') ? sort }) }}">Prix payé <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('invoicedPrice')) ? 'down' : 'up' }}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'renewalType', 'orderBy' : app.request.get('orderedType') is same as ('renewalType') ? sort }) }}">Type de renouvellement <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('renewalType')) ? 'down' : 'up' }}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'renewalDate', 'orderBy' : app.request.get('orderedType') is same as ('renewalDate') ? sort }) }}">Date de renouvellement <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('renewalDate')) ? 'down' : 'up' }}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'site', 'orderBy' : app.request.get('orderedType') is same as ('site') ? sort }) }}">Site <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('site')) ? 'down' : 'up' }}"></i></a></th>
                        <th><a class="a-ordered" href="{{ path('domain_name_ordered', {'orderedType' : 'enable', 'orderBy' : app.request.get('orderedType') is same as ('enable') ? sort }) }}">Actif <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('enable')) ? 'down' : 'up' }}"></i></a></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for domain_name in domain_names %}
                    <tr style="vertical-align: middle;">
                        <td>{{ domain_name.url }}</td>
                        <td>{{ domain_name.provider }}</td>
                        <td>{{ domain_name.offer }}</td>
                        <td>{{ domain_name.price }}</td>
                        <td>{{ domain_name.invoicedPrice }}</td>
                        <td>{{ domain_name.renewalType }}</td>
                        <td>{{ domain_name.renewalDate ? domain_name.renewalDate|date('Y-m-d') : '' }}</td>
                        <td>{{ domain_name.site.name }}</td>
                        <td>{{ domain_name.enable ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('domain_name_show', {'id': domain_name.id}) }}" class="btn btn-secondary" style="margin-bottom: 5px">Détails</a>
                            <a href="{{ path('domain_name_edit', {'id': domain_name.id}) }}" class="btn btn-success">Éditer</a>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun Nom de domaine</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('domain_name_new') }}" class="btn btn-primary">Ajouter</a>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
