{% extends 'base.html.twig' %}

{% block title %}Nom de domaine détails{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}

    <div class="container-fluid div3">
        <div class="div4">
            <h1>Détails du nom de domaine : {{ domain_name.url }}</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Prestataire</th>
                        <td>{{ domain_name.provider }}</td>
                    </tr>
                    <tr>
                        <th>Offre</th>
                        <td>{{ domain_name.offer }}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ domain_name.price }}</td>
                    </tr>
                    <tr>
                        <th>Prix payé</th>
                        <td>{{ domain_name.invoicedPrice }}</td>
                    </tr>
                    <tr>
                        <th>Type de renouvellement</th>
                        <td>{{ domain_name.renewalType }}</td>
                    </tr>
                    <tr>
                        <th>Date de renouvellement</th>
                        <td>{{ domain_name.renawalDate ? domain_name.renawalDate|date('d-m-Y') : '' }}</td>
                    </tr>
                <tr>
                    <th>Site</th>
                    <td>{{ domain_name.site.name ? domain_name.site.name }}</td>
                </tr>
                <tr>
                    <th>Actif</th>
                    <td>{{ domain_name.enable ? 'Oui' : 'Non' }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('domain_name_index') }}" class="btn btn-warning">< Retour</a>

            <a href="{{ path('domain_name_edit', {'id': domain_name.id}) }}" class="btn btn-success">Éditer</a>
            <br>
            <br>
            {{ include('domain_name/_delete_form.html.twig') }}
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
