<h1 class="c-parme bd-bt">Détails de {{ currentAd.id }}</h1>

<table class="table">
    <tbody>
    <tr>
        <th>Client :</th>
        <td>{{ currentAd.client.name }}
            <a href="{{ path('client_show', {'id': currentAd.client.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"> <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </td>
    </tr>
    <tr>
        <th>Site :</th>
        {% if currentAd.site is defined and currentAd.site is not null %}
            <td>{{ currentAd.site.name }}
                <a href="{{ path('site_show', {'id': currentAd.site.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"> <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </td>
        {% endif %}
    </tr>
    <tr>
        <th>Réseau Social :</th>
        {% if currentAd.socialNetwork is defined and currentAd.socialNetwork is not null %}
            <td>{{ currentAd.socialNetwork.id }}
                <a href="{{ path('social_network_show', {'id': currentAd.socialNetwork.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"> <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </td>
        {% endif %}
    </tr>
    <tr>
        <th>Prestataire :</th>
        <td>{{ currentAd.provider }}</td>
    </tr>
    <tr>
        <th>Offre :</th>
        <td>{{ currentAd.offer }}</td>
    </tr>
    <tr>
        <th>Coût :</th>
        <td>{{ currentAd.cost }}</td>
    </tr>
    <tr>
        <th>Prix facturé :</th>
        <td>{{ currentAd.invoicedPrice }}</td>
    </tr>
    <tr>
        <th>Type de renouvellement :</th>
        <td>{{ currentAd.renewalType }}</td>
    </tr>
    <tr>
        <th>Date de renouvellement :</th>
        <td>{{ currentAd.renewalDate ? currentAd.renewalDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Date de début :</th>
        <td>{{ currentAd.startDate ? currentAd.startDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Date de fin :</th>
        <td>{{ currentAd.endDate ? currentAd.endDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Commentaire :</th>
        <td>{{ currentAd.commentary }}</td>
    </tr>
    <tr>
        <th>Actif : </th>
        <td>{{ currentAd.enable ? 'Oui' : 'Non' }}</td>
    </tr>
    </tbody>
</table>
