<table class="table text-center">
    <tbody>
        <tr>
            <th>Email</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Téléphone</th>
            {% include 'helpers/table-head/actif.html.twig' %}
            <th></th>
        </tr>
        <tr class="align-middle">
            <td>{{ currentClient.email }}</td>
            <td>{{ currentClient.address }}</td>
            <td>{{ currentClient.city }}</td>
            <td>{{ currentClient.zipCode }}</td>
            <td>{{ currentClient.phone }}</td>
            {% include 'helpers/table-body/oui-non.html.twig' with {'boolean': currentClient.enable} only %}
            <td>
                <a href="{{ path('client_edit', {'id': currentClient.id}) }}" class="btn blue">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
