{% extends 'base.html.twig' %}

{% set sort = orderBy is not defined or orderBy is same as ('ASC') ? 'ASC' : 'DESC' %}

{% block title %}Client liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function searchSite() {
            var url = '{{ path("client_search") }}';
            window.location.href = url + '?searchName=' + $('#search').val();
        }
    </script>
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid div3">
        <div class="div4">
            <h1 style="display: inline-block">Liste des clients</h1>
            <div style="float: right">
                <input id="search" class="form-control mr-sm-2 search-bar" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="searchSite()" >Rechercher</button>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th><a class="a-ordered" href="{{ path('client_ordered', {'orderedType' : 'name', 'orderBy' : app.request.get('orderedType') is same as ('name') ? sort }) }}">Nom <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('name')) ? 'down' : 'up' }}"></i></a></th>
                    <th><a class="a-ordered" href="{{ path('client_ordered', {'orderedType' : 'email', 'orderBy' : app.request.get('orderedType') is same as ('email') ? sort }) }}">Email <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('email')) ? 'down' : 'up' }}"></i></a></th>
                    <th><a class="a-ordered" href="{{ path('client_ordered', {'orderedType' : 'address', 'orderBy' : app.request.get('orderedType') is same as ('address') ? sort }) }}">Adresse <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('address')) ? 'down' : 'up' }}"></i></a></th>
                    <th><a class="a-ordered" href="{{ path('client_ordered', {'orderedType' : 'city', 'orderBy' : app.request.get('orderedType') is same as ('city') ? sort }) }}">Ville <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('city')) ? 'down' : 'up' }}"></i></a></th>
                    <th><a class="a-ordered" href="{{ path('client_ordered', {'orderedType' : 'zipCode', 'orderBy' : app.request.get('orderedType') is same as ('zipCode') ? sort }) }}">Code postal <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('zipCode')) ? 'down' : 'up' }}"></i></a></th>
                    <th><a class="a-ordered" href="{{ path('client_ordered', {'orderedType' : 'phone', 'orderBy' : app.request.get('orderedType') is same as ('phone') ? sort }) }}">Téléphone <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('phone')) ? 'down' : 'up' }}"></i></a></th>
                    <th><a class="a-ordered" href="{{ path('client_ordered', {'orderedType' : 'enable', 'orderBy' : app.request.get('orderedType') is same as ('enable') ? sort }) }}">Actif <i class="fa fa-arrow-{{ (sort is same as ('ASC') and app.request.get('orderedType') is same as ('enable')) ? 'down' : 'up' }}"></i></a></th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr style="vertical-align: middle;">
                        <td>{{ client.name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.city }}</td>
                        <td>{{ client.zipCode }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.enable ? 'Oui' : 'Non' }}</td>
                        <td style="width: 17%">
                            <a href="{{ path('client_show', {'id': client.id}) }}" class="btn btn-secondary">Détails</a>
                            <a href="{{ path('client_edit', {'id': client.id}) }}" class="btn btn-success">Éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun client</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('client_new') }}" class="btn btn-primary">Ajouter</a>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
