{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}

    <div class="container-fluid div3">
        <div class="div4">
            <h1>Create new Client</h1>

            {{ include('client/_form.html.twig') }}

            <a href="{{ path('client_index') }}">back to list</a>

        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
