{% extends 'base.html.twig' %}

{% block title %}Mail{% endblock %}

{% block body %}
    <h1>Mail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mail.id }}</td>
            </tr>
            <tr>
                <th>Provider</th>
                <td>{{ mail.provider }}</td>
            </tr>
            <tr>
                <th>Offer</th>
                <td>{{ mail.offer }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ mail.cost }}</td>
            </tr>
            <tr>
                <th>InvoicedPrice</th>
                <td>{{ mail.invoicedPrice }}</td>
            </tr>
            <tr>
                <th>RenewalType</th>
                <td>{{ mail.renewalType }}</td>
            </tr>
            <tr>
                <th>RenewalDate</th>
                <td>{{ mail.renewalDate ? mail.renewalDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ mail.startDate ? mail.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Commentary</th>
                <td>{{ mail.commentary }}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{{ mail.enable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>SiteClientToServicesBinderId</th>
                <td>{{ mail.siteClientToServicesBinderId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mail_index') }}">back to list</a>

    <a href="{{ path('mail_edit', {'id': mail.id}) }}">edit</a>

    {{ include('mail/_delete_form.html.twig') }}
{% endblock %}
