{% extends 'base.html.twig' %}

{% set sort = orderBy is not defined or orderBy is same as ('ASC') ? 'ASC' : 'DESC' %}

{% block title %}Hébergement liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var searchItems = [];
        $(document).ready(() => {
            $("#search-form").on("submit", (e) => {
                e.preventDefault();
                search();
            });
        });

        function search() {
            if (1 === searchItems.length) {
                window.location.href = '/server/' + searchItems[0];
            } else {
                window.location.href = '{{ path("server_search") }}' + '?ids=' + searchItems.join();
            }
        }

        function searchSame() {
            searchItems = [];
            {% for server in servers %}
                var serverName = "{{ server.name }}"
                if (!serverName.toLowerCase().includes($('#search').val().toLowerCase())) {
                    $('#server-{{ server.id }}').addClass("d-none");
                } else {
                    $('#server-{{ server.id }}').removeClass("d-none");
                    searchItems.push({{ server.id }});
                }
            {% endfor %}
        }
    </script>
{% endblock %}

{% block body %}

    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt">Hébergements</h1>
        </div>
        <div class="col-sm search-div">
            <form id="search-form" action="">
                <input id="search" class="form-control mr-sm-2 search-bar" type="search" placeholder="Rechercher" aria-label="Search" onkeyup="searchSame()">
                <button class="btn parme my-2 my-sm-0" style="margin-bottom: 0.5rem!important;">Rechercher</button>
            </form>
        </div>
    </div>

    <div class="container-fluid pt-4">
        <div class="row ps-5">
            <div class="col-11 offset-1 pt-3 ps-5">
                <a href="{{ path('server_new') }}" class="btn parme float-end">Ajouter un hébergement</a>
                {% if servers|length %}
                    {% set currentClient = servers[0].client %}
                    {% include 'server/details.html.twig' %}
                {% else %}
                    <p>Aucun hébergement</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}
