{% extends 'base.html.twig' %}

{% block title %}Hébergement détails{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid div3">
        <div class="div4">

            <h1>Détails de l'hébergement : {{ server.name }} </h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Prestataire</th>
                        <td>{{ server.provider }}</td>
                    </tr>
                    <tr>
                        <th>Offre</th>
                        <td>{{ server.offer }}</td>
                    </tr>
                    <tr>
                        <th>Coût</th>
                        <td>{{ server.cost }}</td>
                    </tr>
                    <tr>
                        <th>Prix facturé</th>
                        <td>{{ server.invoicedPrice }}</td>
                    </tr>
                    <tr>
                        <th>Type de renouvellement</th>
                        <td>{{ server.renewalType }}</td>
                    </tr>
                    <tr>
                        <th>Date de renouvellement</th>
                        <td>{{ server.renewalDate ? server.renewalDate|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Actif</th>
                        <td>{{ server.enable ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>Sites :</th>
                        <td>
                            {% for site in server.sites %}
                                - {{ site.name }}
                                <a href="{{ path('site_show', {'id': site.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <a class="a-link btn" href="{{ path('server_remove_site', {'id' : server.id, 'siteId' : site.id}) }}" onclick="return confirm('Souhaitez-vous vraiment supprimer le site : ' + '{{ site.name }}')"><i class="fa fa-trash" aria-hidden="true"></i></a><br>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('server_index') }}" class="btn btn-warning">< Retour</a>

            <a href="{{ path('server_edit', {'id': server.id}) }}" class="btn btn-success">Éditer</a>
            <br><br>
            {{ include('server/_delete_form.html.twig') }}
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}
