{% extends 'base.html.twig' %}

{% block title %}Publicité liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt">Publicités</h1>
        </div>
    </div>

    <div class="container-fluid pt-4">
        <div class="row ps-5">
            <div class="col-11 offset-1 pt-3 ps-5">
                <a href="{{ path('ad_new') }}" class="btn parme float-end">Ajouter une publicité</a>
                {% if ads|length %}
                    {% include 'ad/details.html.twig' %}
                {% else %}
                    <p>Aucune publicité</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
