{% extends 'base.html.twig' %}

{% block title %}Pub liste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block bandeau %}
        {{ parent() }}
    {% endblock %}

    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt" style="display: inline-block">Résultats de votre recherche :</h1>
        </div>
    </div>
    <div class="container-fluid div3 grid">
        <div class="div-annexe div4">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom du client</th>
                    <th>Date de fin</th>
                    <th>Prestataire</th>
                    <th>Offre</th>
                    <th>Coût</th>
                    <th>Prix facturé</th>
                    <th>Type de renouvellement</th>
                    <th>Date de renouvellement</th>
                    <th>Date début</th>
                    <th>Commentaire</th>
                    <th>Actif</th>
                    <th>Voir</th>
                </tr>
                </thead>
                <tbody>
                {% for ad in ads %}
                    <tr style="vertical-align: middle">
                        <td>{{ ad.client.name }}</td>
                        <td>{{ ad.endDate ? ad.endDate|date('Y-m-d') : '' }}</td>
                        <td>{{ ad.provider }}</td>
                        <td>{{ ad.offer }}</td>
                        <td>{{ ad.cost }}</td>
                        <td>{{ ad.invoicedPrice }}</td>
                        <td>{{ ad.renewalType }}</td>
                        <td>{{ ad.renewalDate ? ad.renewalDate|date('Y-m-d') : '' }}</td>
                        <td>{{ ad.startDate ? ad.startDate|date('Y-m-d') : '' }}</td>
                        <td>{{ ad.commentary }}</td>
                        <td>{{ ad.enable ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('ad_show', {'id': ad.id}) }}" class="btn btn-secondary">Détails</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucune publicité</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('ad_index') }}" class="btn yellow">< Retour liste</a>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
