{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid div1">
        <div class="row">
            <div class="col-sm">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/images/teds.png" class="img-fluid" alt="teds" style="padding: 10px">
            </div>
            <div class="col-sm headr">
                <header class="header1">
                    <a style="color: rgb(240, 15, 15); text-decoration: none;">Teds Dashboard</a>
                </header>
                <br>
            </div>
            <div class="col-sm headr2">
            </div>
        </div>
    </div>
    <div class="container-fluid div3">
        <div class="div4" style="background-color: whitesmoke; text-align: center">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connectez-vous pour continuer:</h1>
                <label for="inputEmail">Email :</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus style="width: 33%; margin-left: 34%;">
                <label for="inputPassword">Mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required style="width: 33%; margin-left: 34%; margin-bottom: 15px">

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
{#                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#                See https://symfony.com/doc/current/security/remember_me.html#}
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
