{% extends 'base.html.twig' %}

{% block title %}Ajout Réseaux Sociaux{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}

    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt" style="display: inline-block">Ajouter un réseau social :</h1>
        </div>
    </div>
    <div class="container-fluid div3 grid">
        <div class="div-annexe div4">
            <a href="{{ path('social_network_index') }}" class="btn yellow" style="float: right">< Retour</a>
            <br><br>
            {{ include('social_network/_form.html.twig') }}
        </div>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
