<h1 class="c-parme bd-bt">Détails de {{ currentMail.id }} {{ date(currentMail.renewalDate) < date('+1month') ? '<p class="text-danger">Fin d\'abonnement proche</p>'}}</h1>
<a href="{{ path('mail_edit', {'id': currentMail.id}) }}" class="btn blue">
    Éditer <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a>
{% if date(currentMail.renewalDate) < date('+1month') %}
    <button onclick="updateAddRenewalDate()" class="btn parme  f-right">
        Facturé
    </button>
{% endif %}
<table class="table">
    <tbody>
    <tr>
        <th>Client :</th>
        <td>{{ currentMail.client.name }}
            <a href="{{ path('client_show', {'id': currentMail.client.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"> <i class="fa fa-search" aria-hidden="true"></i></a>
        </td>
    </tr>
    <tr>
        <th>Nom de domaine :</th>
        <td>{{ currentMail.domainName.url }}
            <a href="{{ path('domain_name_show', {'id': currentMail.domainName.id}) }}" class="a-link btn icon-title-left" data-toggle="tooltip" title="Cliquez pour plus de détails"> <i class="fa fa-search" aria-hidden="true"></i></a>
        </td>
    </tr>
    <tr>
        <th>Prestataire :</th>
        <td>{{ currentMail.provider }}</td>
    </tr>
    <tr>
        <th>Offre :</th>
        <td>{{ currentMail.offer }}</td>
    </tr>
    <tr>
        <th>Coût :</th>
        <td>{{ currentMail.cost }}</td>
    </tr>
    <tr>
        <th>Prix facturé :</th>
        <td>{{ currentMail.invoicedPrice }}</td>
    </tr>
    <tr>
        <th>Type de renouvellement :</th>
        <td>{{ currentMail.renewalType }}</td>
    </tr>
    <tr>
        <th>Date de renouvellement :</th>
        <td>{{ currentMail.renewalDate ? currentMail.renewalDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Date de début :</th>
        <td>{{ currentMail.startDate ? currentMail.startDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
        <th>Commentaire :</th>
        <td>{{ currentMail.commentary }}</td>
    </tr>
    <tr>
        <th>Actif : </th>
        <td>{{ currentMail.enable ? 'Oui' : 'Non' }}</td>
    </tr>
    </tbody>
</table>
<script>
    function updateAddRenewalDate() {
        var url = '{{ path('updateAddRenewalDate', {id:currentMail.id}) }}';
        ajax = $.ajax({
            url: url,
            type: 'GET',
            success: function() {
                location.reload();
            },
        });
    }
</script>
