{% extends 'base.html.twig' %}

{% block title %}Mail liste{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt">Mails</h1>
        </div>
    </div>

    <div class="container-fluid pt-4">
        <div class="row ps-5">
            <div class="col-11 offset-1 pt-3 ps-5">
                <a href="{{ path('mail_new') }}" class="btn parme float-end">Ajouter un mail</a>
                {% if mails|length %}
                    {% include 'mail/details.html.twig' %}
                {% else %}
                    <p>Aucun mail</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
